form > div fieldset {
    margin-bottom: 20px;
}

textarea {
    vertical-align: text-top;
    width: 500px;
}

label {
    display: inline-block;
    width: 200px;
    text-align: left;
}

fieldset {

}